/* 
    Login Section
*/

.section-login{
    height: calc(100vh - 50px);
    display: flex;

}


.section-login .container{
    max-width: 350px;
    padding: 20px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    width: 100%;
}

#form-login .form-group{
    margin-bottom: 10px;

}

#form-login .form-group label{
    display: block;
    font-weight: bold;
}

#form-login .form-group input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;

}

.btn{
    width: 100%;
    height: 40px;    
}

.btn.btn-dark{
    background-color: #1E2125;
    color:white;
    border: 0px;
    border-radius: 4px;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid black;
    color: white;
}

.alert.alert-error{
    color: #842029;
    background-color: #f8d7da;
    border-color:#f5c2c7;

}

.hide{
    display: none;
}